*{
margin-top: 10px;
}
/*body {
  background-color: black;
  color: white;
}*/

#section{
	/*text-align: center;*/
}
#hero {
    /*position: relative;*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

#nav{
	display: flex;
	justify-content:space-between;
	font-size: 30px;
	color: white;
	
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px;
  z-index: 999; /* make sure it's on top of video and all content */

}

#nav a{
	color:  #30D5C8;
}
.nav-links{
	display: flex;
	gap: 30px;
	list-style: none;
	text-align: center;
}

#content{
	display: flex;
	align-items: center;
    /*justify-content: center;*/
    gap: 100px;
    color: white;
}
#img1{
	   width: 400px;
    height: 450px;
     border-radius: 5px;
     margin-top: 50px;
     margin-left: 50px;
 }
 #hey h1 {
 	color: white;
 	 font-size: 60px;
 	  text-transform: uppercase;
 }

#hey h2{
    font-size: 40px;
    margin-top: -40px;
    font-family: "Brush Script MT",cursive;
    color: #b347ff;
    margin-left: -50px;

}

#intro{
	 display: flex;
    align-items: center; 
    justify-content: center;
    gap: 50px;
    background-color: #7a1b4a;
    padding: 20px 50px;
    color: white;
}

#about{
	text-align: center;
	font-size: 20px;
	max-width: 500px;
	
}


#icon{
	display: flex;
	gap: 20px;
	justify-content: center;


}

.skill{
    border: 2px solid black;
    width: 200px;
    padding: 50px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 10px;
    background-color: lightyellow;

}
#pro{
	 display: grid;
	 gap: 50px;
	 justify-content: center;
	 grid-template-columns: repeat(2, 1fr);
	margin-left: 250px;
}

#pro div {
    border: 2px solid deeppink;
    width: 200px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    
}


#form{
	text-align: center;
	width: 500px;
  border: 2px solid black ;
  padding: 25px;
  margin: 30px auto;
  font-size: 21px;


}
input{
	font: 1em sans-serif;
  width: 450px;
  border: 1px solid #999;
  padding: 0.5em;
}

#button{
	border-radius: 5px;
	padding: 5px;
	margin-top: 15px;
	background-color: lightcyan ;
	font-size: 20px;


}
#foot{
	font-size: 15px;
	color: gray;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.nav {
		flex-direction: row; /* Horizontal layout */
		justify-content: space-between;
	}
	.nav-links {
		display: flex; /* Always show links */
		flex-direction: row;
		width: auto;
	}
	.menu-toggle {
		display: none; /* Hide the mobile menu button */
	}
	section {
		padding: 4rem 8%;
	}
}

h2{
	text-align: center;
	
	margin-top: 30px;
	

}
